<div class="col-md-12">

<h2><%= @products.title %> </h2>
<p><%= render_formate_description(@products) %></p>
<table class="table">
<thead>
<tr>

</tr>
</thead>
<tbody>

</tbody>
</table>
<%= link_to "回首頁", admin_products_path,  class: "btn btn-primary pull-right" %>
</div>
